<h1>You Already Have This Asset</h1>
<p>D you want to return {{ asset.name }}?</p>
<form method="POST">
    {% csrf_token %}
    <button type="submit">Return Asset</button>
</form>
<form action="{% url 'choose_asset' employee.id %}" method="GET" style="display:inline;">
    <button type="submit">Cancel</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}