<h1>Select Employee</h1>
<form method="POST">
    {% csrf_token %}
    <select name="employee">
        {% for employee in employees %}
        <option value="{{ employee.id }}">{{ employee.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Continue</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
